.list {
  margin-right: 20px;

  .options {
    cursor: pointer;
    font-size: 10px;
    text-align: center;
  }

  img {
    max-height: 50px;
    max-width: 50px;
  }
}

.popover-options {
  ul {
    list-style-type: none;
    padding: 0;

    li {
      cursor: pointer;
      list-style-position: outside;
      margin-top: 8px;
      padding: 0;
    }
  }
}

.editForm {
  .checkbox-inline input[type="checkbox"] {
    position: relative;
    display: inline;

    top: -2px;
    left: 8px;
  }

  .checkbox-container {
    display: inline-block;
    margin-bottom: 15px;
  }

  .form-control {
    margin-bottom: 15px;
  }

  .Select-control {
    margin-bottom: 15px;
  }

  .dropzone {
    display: inline-block;
    
    width: 150px;
    height: 150px;

    padding: 10px;
    border: dashed 1px #333;
    text-align: center;
  }

  .image-preview {
    display: inline-block;

    max-width: 150px;
    max-height: 150px;

    margin-left: 10px;
  }
}