.login-form {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100%;

  input {
    margin-bottom: 10px;
  }
}

.user-display {
  height: 30px;
  color: $white;

  .username {
    margin-left: 15px;
  }

  .fa {
    margin-right: 10px;
    cursor: pointer;
  }
}